In [20]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [10]:
print(*range(10,20))

10 11 12 13 14 15 16 17 18 19

In [30]:
list = [10, 20, 14, 55, 43, 87, 76] 
print(list)
print(("Number of item in the List: ",len(list)))

[10, 20, 14, 55, 43, 87, 76]
('Number of item in the List: ', 7)

In [50]:
print("Artificial Intelligence")
word = "Artificial Intelligence"
for let in word:
    print(let)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [52]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [54]:
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [78]:
tup=((0, 1, 2, 3), ('python', 'HOPE'))
print(tup2)

((0, 1, 2, 3), ('python', 'HOPE'))

In [84]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
print(numbers)
for num in numbers:
    if num % 2 != 0:
        print(f"{num} is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [88]:
numbers=(20,10,16,19,25,1,276,188)
print(numbers)
for num in numbers:
    if num % 2 !=1:
        print(f"{num} is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even