In [1]:
print("HOPE AI")

HOPE AI

In [3]:
input("Enter your Institute Name ?")

Enter your Institute Name ? Hope AI

'Hope AI'

In [5]:
input("Enter your name :")
int(input("Enter your age :"))
input("Enter your School name :")
input("Enter Your Degree :")

Enter your name : Sharukh
Enter your age : 24
Enter your School name : BVB
Enter Your Degree : MBA

'MBA'

In [9]:
a= 43
b= 34
add= a+b
print("A = ",a)
print("B = ",b)
print("Add = ",add)

A =  43
B =  34
Add =  77

In [11]:
a= 43
b= 34
sub= a-b
print("A = ",a)
print("B = ",b)
print("Sub = ",sub)

A =  43
B =  34
Sub =  9

In [13]:
a= 63
b= 97
mul = a*b
print("A = ",a)
print("B = ",b)
print("Mul = ",mul)

A =  63
B =  97
Mul =  6111

In [17]:
a= 76
b= 31
div = a/b
print("A = ",a)
print("B = ",b)
print("Float Div = ",div)

A =  76
B =  31
Float Div =  2.4516129032258065

In [19]:
a= 76
b= 31
fdiv = a//b
print("A = ",a)
print("B = ",b)
print("Floor Div = ",fdiv)

A =  76
B =  31
Floor Div =  2

In [21]:
a= 76
b= 31
mod = a%b
print("A = ",a)
print("B = ",b)
print("Modulo = ",mod)

A =  76
B =  31
Modulo =  14

In [25]:
a= 4
b= 4
Pow = a**b
print("A = ",a)
print("B = ",b)
print("Power = ",Pow)

A =  4
B =  4
Power =  256